.page {
    background-color: #2A2C2F;
    max-width: 100%;
    margin: auto;
    font-family: 'Inter';
    
}

.header {
    margin: 0 auto 56px auto;
    padding-top: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1184px;
}

.header__logo {
    max-width: 176px;
    object-fit: cover;
    aspect-ratio: 34/10;
}

.header__lang-link {
    margin: 0;
    padding: 0 18px 0 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-decoration-line: underline;
    color: #FFFFFF;
}

.header__lang-link:last-of-type {
    padding: 0;
}

.lead {
    margin: 0 auto 92px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 984px;
}

.lead__title {
    max-width: 720px;
    margin: 0 0 32px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    color: #FFFFFF;
    text-align: center;
}

.lead__subtitle {
    max-width: 640px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
    text-align: center;
    margin: 0 0 64px 0;
}

.lead__image {
    max-width: 984px;
    object-fit: cover;
    aspect-ratio: 16/10;
}

.lead__caption {
    align-self: flex-start;
    margin: 8px auto 0 0;
    color: #FFFFFF;
}

.intro {
    max-width: 984px;
    margin: 0 auto 92px auto;
}

.intro__box {
    max-width: 690px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.intro__title {
    max-width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    color: #FFFFFF;
    margin: 0 0 40px 0;
}

.intro__text {
    max-width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    color: #FFFFFF;
    margin: 0 0 33px 0;
}

.intro__list {
    list-style: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
}

.photo-grid {
    max-width: 1184px;
    display: grid;
    grid-template-columns: repeat(4, 284px);
    grid-template-rows: repeat(3, 213px);
    row-gap: 16px;
    column-gap: 16px;
    margin: 0 auto 92px auto;
}

.photo-grid__item {
    max-width: 284px;
    aspect-ratio: 13.3/10;
    object-fit: cover;
}

.place {
    max-width: 984px;
    margin: 0 auto 80px auto;
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-template-rows: 1fr 460px;
    column-gap: 40px;
    row-gap: 48px;
}

.title-container {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 0 0  48px 0;
}

.place__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #FFFFFF;
    margin: 0;
    width: 50%;
    
}

.place__website {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    max-width: 50%;
}

.place__url-heading {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    color: #AAAAAA;
    margin: 0 0 12px 0;
}


.place__link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

/*.content {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}*/

.place__image {
    max-width: 460px;
    aspect-ratio: 1/1;
    object-fit: cover;
    margin: 0 40px 0 0;
}

.place__paragraphs {
    margin: 0;
    max-width: 484px;
}

.place__paragraph {
    margin: 0 0 26px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
}

.place__paragraph:last-of-type {
    margin: 0;
}

.cover {
    background-image: url(./images/cover-trains.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1184px;
    margin: 0 auto 92px auto;
}

.cover__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: rgba(42, 44, 47, 0.3);
    aspect-ratio: 16/10;
    transition: all 0.3s;
}

.cover__link:hover {
    background-color: rgba(42, 44, 47, 0.8); 
}

.cover__title {
    margin: 0 0 32px 0;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFFFF;
    max-width: 560px;
}

.cover__subtitle {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    max-width: 360px;
}

.footer {
    margin: 0 auto;
    padding-bottom: 24px;
    max-width: 1184px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.nav-box__link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF; 
    text-decoration: none;
    margin: 0;
    padding: 0 18px 0 0;
}

.nav-box__link:last-of-type {
    padding: 0;
}

.footer__copyright {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    margin: 0;
}

.link:hover {
    opacity: 0.8;
}