.lead__image {
    max-width: 984px;
    object-fit: cover;
    aspect-ratio: 16/10;
}

@media screen and (max-width: 1279px) {
    .lead__image {
        max-width: 928px;
    }
}

@media screen and (max-width: 1023px) {
    .lead__image {
        max-width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .lead__image {
        max-width: 100%;
    }
}

@media screen and (max-width: 580px) {
    .lead__image {
        max-width: 100%;
    }
}

@media screen and (max-width: 425px) {
    .lead__image {
        max-width: 100%;
    }
}