.cover {
    margin: 0 auto 92px auto;
}

@media screen and (max-width: 1279px) {
    .cover {
        max-width: 100%;
    }
}

@media screen and (max-width: 1023px) {
    .cover {
        margin-bottom: 88px;
    }
}

@media screen and (max-width: 767px) {
    .cover {
        margin-bottom: 74px;
    }
}

@media screen and (max-width: 580px) {
    .cover {
        margin-bottom: 64px;
        margin-top: -15px;
    }
}