.nav-box__link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
    margin: 0;
    padding: 0 18px 0 0;
    margin-left: -4px;
}

.nav-box__link:last-of-type {
    padding: 0;
}

.nav-box__link:first-of-type {
    margin-left: 0;
}

@media screen and (max-width: 767px) {
    .nav-box__link {
        font-size: 24px;
        line-height: 24px;
        padding-right: 0;
        padding-bottom: 32px;
        margin-left: 0;
    }

    .nav-box__link:last-of-type {
        padding-bottom: 48px;
    }
}